h3
{
  font-size: 25px;
  color: #372a6f;
}
.btn-info:hover
{
  background-color: rgb(255, 255, 255);
}
canvas
{
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example
{
  from{box-shadow: 1px 1px 38px #2631a6;}
  to{box-shadow: 1px 1px 38px #0000ff;}
}